
.text-link {
  @apply text-accent hover:underline;
}

body {
  @apply text-gray-800;
}

section {
  padding: theme('padding.2') 0;

  @screen md {
    padding: theme('padding.4') 0;
  }
}

.container {
  @apply py-4;
}

h1 {
  @apply text-2xl;
}

h2 {
  @apply text-xl;
}

h3 {
  @apply text-lg;
}

.section-title {
  @apply text-center mb-4 font-bold;
}

.icon {
  @apply fill-current overflow-visible inline-block;
  
  width: 1em;
  height: 1em;
}

.text-muted {
  @apply text-gray-600;
}