:global(.text-link) {
  @apply text-accent;

  &:hover {
    @apply underline;
  }
}

:global(body) {
  @apply text-gray-800;
}

:global(section) {
  padding: theme('padding.2') 0;

  @screen md {
    padding: theme('padding.4') 0;
  }
}

:global(.container) {
  @apply py-4;
}

:global(h1) {
  @apply text-2xl;
}

:global(h2) {
  @apply text-xl;
}

:global(h3) {
  @apply text-lg;
}

:global(.section-title) {
  @apply text-center mb-4 font-bold;
}

:global(.icon) {
  width: 1em;
  height: 1em;
  display: inline-block;
  overflow: visible;
  fill: currentColor;
}

:global(.text-muted) {
  @apply text-gray-600;
}