.icon {
  &.envelope {
    @apply text-red-600;
  }

  &.github-square {
    color: #333;
  }

  &.whatsapp-square {
    color: #4fce5d;
  }

  &.linkedin {
    color: #0e76a8;
  }

  &.codewars {
    color: rgb(177, 54, 30);
  }
}